h1 {
    color: blue;
   
    text-align: center;
   
}

#firstPtag {
    color: red;
}

p {
    color: green;
    font-size: 15px;
}

div {
    background-color: lightblue;
    width: 400px;
    border: 15px red double;
    padding: 20px;
    margin: auto;

}